*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  
  
}
header{
  background-color: black;
}
h1, h2 {
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
}

.productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.producto {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #ccc;
  text-align: center;
}

.producto img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.boton-comprar {
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  width: 200px;
  padding: 5px 10px;
  cursor: pointer;

}
.boton-fcompra{
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  width: 200px;
  padding: 5px 5px;
  cursor: pointer;
  margin: 50px;
}

#carrito {
  list-style-type: none;
  padding: 0;

}
button {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: wheat;
  padding: 5px;
}

#carrito li {
  margin-bottom: 10px;
}

#carrito li span {
  font-weight: bold;

}

#carrito li button {
  background-color: #f44336;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;

}

.montototal{
  font-family: fantasy;
  font-size: 30px;
}





ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #ddd;
}

.navbar-logo {
  float: left;
  margin-right: 10px;
}
li{
width: 340px;
margin: auto;
display: inline-block;

}
li img {
  height: 250px;
  width: 250px;
  display: flex;
  margin: 20px;
}

.carrito{
  font-size: 40px;
  margin: 20px;
}